{{!-- <h2 class="" tex>Random Joke Generator</h2>

<form>
    <div class="mb-3">
        <label for="jokeSubmission" class="form-label"></label>
        <textarea class="form-control" id="jokeSubmission" rows="10"
            placeholder="Click on the 'Generate a Joke!'' button below to find your next dad joke 🙂"></textarea>
    </div>
</form>
<button type="button" class="btn btn-primary btn-lg btn-block">Generate a Joke!</button> --}}
{{#if joke}}
<h2 class="text-center">Random Joke Generator</h2>

<form>
    <div class="mb-3">
        <label for="jokeSubmission" class="form-label"></label>
        <textarea class="form-control" id="jokeSubmission" rows="10" placeholder="{{joke}}"></textarea>
    </div>
</form>
<a href="/random"><button type="button" class="btn btn-primary btn-lg btn-block">Generate a Joke!</button></a>
{{else}}
<h2 class="" tex>Random Joke Generator</h2>

<form>
    <div class="mb-3">
        <label for="jokeSubmission" class="form-label"></label>
        <textarea class="form-control" id="jokeSubmission" rows="10"
            placeholder="Click on the 'Generate a Joke!'' button below to find your next dad joke 🙂"></textarea>
    </div>
</form>
<a href="/random"><button type="button" class="btn btn-primary btn-lg btn-block">Generate a Joke!</button></a>
{{/if}}