<h2>Submit a Joke</h2>

<form>
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" readonly class="form-control-plaintext" id="username" value="username example">
  </div>
  <div class="form-group">
    <label for="timestamp">Timestamp:</label>
    <input type="text" readonly class="form-control-plaintext" id="username" value="hh:mm am/pm mm/dd/yyyy">
  </div>
  <div class="mb-3">
    <label for="jokeSubmission" class="form-label">Dad joke:</label>
    <textarea class="form-control" id="jokeSubmission" rows="5" placeholder="Enter your joke here"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit your joke and confirm!</button>
</form>