<h2>Submit a Joke</h2>

<form class="submit-form">
  <div class="form-group">
    <label for="username">Username: {{user.username}}</label>
  </div>
  <div class="mb-3">
    <label for="jokeSubmission" class="form-label">Dad joke:</label>
    <textarea
      class="form-control"
      id="jokeSubmission"
      rows="5"
      placeholder="Enter your joke here"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-success">Submit your joke and confirm!</button>
</form>

<script src="/js/submit.js"></script>