* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#header-row {
  padding: 0;
}

img,
#main_body,
.card_img {
  max-width: 100%;
  border-radius: 20px;
  padding: 10px;
  max-height: 100%;
}

.card {
  border-radius: 20px;
}

.jokeCard {
  max-width: 35rem;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  nav {
    padding-top: 0.5;
    padding-bottom: 0.5;
  }
  .navbar-brand {
    margin-left: 80px;
  }
  .btn-toolbar {
    display: flex;
    justify-content: center;
  }

  #dadImg {
    display: none;
  }
}
